# Git version control files
.git
.gitignore

# Docker specific files
Dockerfile
.dockerignore

# Cache and log files that should not be part of the image
cache/
logs/

# Local development environment files
.vscode/

# Python virtual environment
.venv/

# Node.js dependencies
node_modules/

# OS specific files
Thumbs.db
.DS_Store