name: foundation
channels:
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.4 # [Target] Cutting edge. For newer hardware (RTX 40/50 series)